
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
// Variables
//@import "variables";
// Bootstrap
//@import "~bootstrap-sass/assets/stylesheets/bootstrap";
//Materialize
@import "~materialize-css/sass/materialize.scss";

.coucou {
	background-color: red;
}

.card {
	background-color: red;
}

.cardif {
	background-color: red;
}

.cardiff {
	background-color: blue;
}

.greyss {
	background-color: white;
	color: black;
}